# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.idb
*.user
*.manifest
*.lck
*.log
*.dll
*.class
*.exe
*.pdb
*.filters
*.ipch
*.res
*.lastbuildstate
*.rc
*.sdf
*.suo
*.ilk
*.exp
*.obj
*.tlog
*.pch
*.lib

# Package Files #
*.jar
*.war
*.ear

nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
